<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.mapper.AlbumMapper" >


    <resultMap id="res" type="com.baizhi.entity.Album">
        <id column="mid" property="id"></id>
        <result column="mtitle" property="title"></result>
        <result column="count" property="count"></result>
        <result column="cover_img" property="coverImg"></result>
        <result column="score" property="score"></result>
        <result column="author" property="author"></result>
        <result column="broadcast" property="broadcast"></result>
        <result column="brief" property="brief"></result>
        <result column="pub_date" property="pubDate"></result>
        <collection property="children" ofType="com.baizhi.entity.Chapter">
            <id column="cid" property="id"></id>
            <result column="ctitle" property="title"></result>
            <result column="csize" property="size"></result>
            <result column="cduration" property="duration"></result>
            <result column="curl" property="url"></result>
            <result column="upload_date" property="uploadDate"></result>
        </collection>
    </resultMap>

    <select id="queryAllAlbum" resultMap="res">

        select m.id mid,m.title mtitle,m.count,cover_img,score,author,broadcast,brief,pub_date,
               c.id cid,c.title ctitle,c.size csize,c.duration cduration,c.url curl,c.upload_date cuploadDate
        from album m left join chapter c on m.id=c.aid order by m.id desc

    </select>

</mapper>